body {
  height: 100%;
  background-color: #000 ;
}

body > main > input {
  padding: 0 0%;
  height: 30px;
  font-size: 13px;
  background-color: #ecedeb;
}

body > main > table {
  margin-top: 10px;
  width: 100%;
}

.buttons {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #ffff;
  font-weight: bolder;
  outline: 0px auto -webkit-focus-ring-color;
}

.functional {
  background-color: #d49f02;
  color: #fff;
}

.extra {
  background-color: #8a8a8a;
  color: #fff;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0;
  margin-top: 10px;
  border-radius: 7%;


  background-color: #fff;
  font-size: 7px;
  color: #000;
}